.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  padding: 25px 0;
  width: 100%;
  background: linear-gradient(180deg, #ddecff 0%, #f6faff 51.04%, #ddecff 100%);
  transition: transform 0.1s linear;

  &__hide {
    transform: translateY(-100%);
  }

  &__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: visible;
    gap: 29px 0;
  }

  &__logo {
    justify-self: center;

    @include media(900) {
      grid-column: 2 / 3;
    }
  }
}

.header-item {
  padding-top: 5px;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #13284f;
  }

  &__p {
    margin: 6px 0 0;
    font-weight: 400;
    font-size: 18px;
    color: $secondColor;
  }

  &_right {
    justify-self: end;

    .header-item__title {
      text-align: right;
    }
  }

  @include media(900) {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 4;

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #85888f;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      border-radius: 10px;
      width: 100%;
      height: 2px;
      color: $mainColor;
      background-color: $mainColor;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
    }

    &:hover {
      color: $mainColor;

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  @include media(900) {
    display: none;
  }
}

.burger {
  @include burger;

  z-index: 200;
  display: none;
  align-self: center;
  height: 21px;

  @include media(900) {
    display: block;
  }

  &::before,
  &::after,
  &__line {
    background-color: $mainColor;
  }
}

.mobile-menu {
  position: fixed;
  left: -31%;
  top: 0;
  z-index: 100;
  display: none;
  padding: 110px 15px 30px;
  color: #fff;
  background-color: $fontColor;
  opacity: 0;
  transition: 0.3s;

  &_active {
    left: 0;
    opacity: 1;
  }

  @include media(900) {
    display: block;
  }

  @include media(400) {
    width: 100%;
    height: 100%;
  }

  &__item {
    font-size: 18px;
    color: $secondColor;

    &:nth-child(2) {
      margin-top: 100px;
    }

    &:last-child {
      margin-top: 50px;
    }
  }
}

.mobile-nav {
  &__item {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  &__link {
    font-size: 18px;
  }
}
