.hero {
  position: relative;
  padding: 65px 0;
  background-image: url("./../img/hero__bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // @include media(400) {
  //   margin-top: 114px;
  // }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.44) 0.01%,
      rgba(247, 248, 252, 0.72) 0.02%,
      rgba(245, 246, 252, 0.72) 0.03%,
      rgba(130, 187, 255, 0.47) 0.04%,
      rgba(83, 103, 174, 0.67) 39.06%,
      rgba(0, 5, 20, 0.86) 100%
    );
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    position: relative;
    z-index: 1;
    max-width: 635px;

    @include media(900) {
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    color: #fff;

    @include media(900) {
      font-size: 30px;
    }
  }

  &__p {
    margin: 10px 0 0;
    font-weight: 400;
    font-size: 24px;
    color: #e1e1e1;

    @include media(900) {
      font-size: 18px;
    }
  }

  &__picture {
    position: relative;
    z-index: 1;

    @include media(900) {
      position: absolute;
      inset: 0;
      margin: 310px auto 0;
      max-width: 230px;
    }

    @include media(600) {
      margin-top: 360px;
    }

    @include media(400) {
      margin-top: 413px;
    }
  }

  &__btn {
    margin-top: 42px;

    @include media(900) {
      margin: 42px auto 0;
    }
  }
}

.btn {
  display: block;
  border-radius: 10px;
  width: 255px;
  height: 55px;
  font-weight: 500;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  background-color: $mainColor;
  transition: 0.3s;

  &:hover {
    background-color: darken($mainColor, 5%);
  }

  &:active {
    background-color: darken($mainColor, 10%);
  }

  &_trans {
    border: 1px solid $mainColor;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    color: $mainColor;
    background: transparent;

    &:hover {
      border-color: #fff;
      color: #fff;
      background-color: darken($secondColor, 5%);
    }

    &:active {
      border-color: #fff;
      color: #fff;
      background-color: darken($secondColor, 10%);
    }
  }

  &_white {
    color: $secondColor;
    background: #fff;

    &:hover {
      color: #fff;
      background: $secondColor;
    }

    &:active {
      background: darken($secondColor, 10%);
    }
  }
}
