.prices {
  padding: 40px 0 90px;
  background: linear-gradient(180deg, #ddecff 0%, #f6faff 51.04%, #ddecff 100%);

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
  }

  &__section-title {
    grid-column: 1 / 4;
  }
}

.service {
  border-radius: 35px;
  padding: 25px 15px;
  width: 350px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.13);
  background: #ddecff;
  transition: 0.3s;

  &:hover {
    background: #13284f;
    cursor: pointer;

    .service__title {
      color: #fff;
    }

    .service__item {
      color: #fff;
    }

    .service__btn {
      border-color: #fff;
      color: #fff;
    }
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: $mainColor;
    transition: 0.3s;
  }

  &__price {
    margin: 10px 0 0;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: $secondColor;

    &-strong {
      font-weight: 600;
      font-size: 34px;
    }
  }

  &__picture {
    display: block;
    margin-top: 15px;

    &-img {
      display: block;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  &__item {
    position: relative;
    align-self: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: $mainColor;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: -40px;
      top: 4px;
      width: 14px;
      height: 11px;
      background: no-repeat center / cover url("./../img/check.svg");
    }
  }

  &__btn {
    margin: 25px auto 0;
  }
}
