.questions {
  padding: 60px 0;
  background: linear-gradient(180deg, #ddecff 0%, #f6faff 51.04%, #ddecff 100%);

  &__list {
    overflow: hidden;
    margin-top: 47px;
  }

  &__item {
    border-bottom: 1px solid #c6e0ff;
    padding: 25px 30px;

    @include media(900) {
      padding: 25px 0;
    }

    &_active {
      .questions__title {
        &::before {
          transform: rotate(45deg);
        }
      }

      .questions__p {
        margin-top: 25px;
        opacity: 1;
      }
    }

    &:first-child {
      border-top: 1px solid #c6e0ff;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: $secondColor;
    cursor: pointer;

    &::before {
      content: "+";
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      font-weight: 300;
      font-size: 40px;
      line-height: 42px;
      text-align: center;
      color: $secondColor;
      background: #ddecff;
      transition: all 0.3s ease-out;

      @include media(900) {
        display: none;
      }
    }
  }

  &__p {
    overflow: hidden;
    margin: 0;
    max-width: 900px;
    max-height: 0;
    font-weight: 400;
    font-size: 18px;
    color: $mainColor;
    opacity: 0;
    transition: all 0.3s ease-out;
    will-change: max-height;
  }
}
