<section class="advantages">
  <div class="container advantages__container">
    <h2 class="section-title section-title_white advantages__section-title">
      Преимущества
    </h2>
    <div class="advantages__item advantages__item_1">
      <h3 class="advantages__item-title">Оперативность</h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
    <div class="advantages__item advantages__item_2">
      <h3 class="advantages__item-title">Контролль качества</h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
    <div class="advantages__item advantages__item_3">
      <h3 class="advantages__item-title">Лучшие цены</h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
    <div class="advantages__item advantages__item_4">
      <h3 class="advantages__item-title">Проверенное оборудование</h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
    <div class="advantages__item advantages__item_5">
      <h3 class="advantages__item-title">
        Полный<br />
        комплекс услуг
      </h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
    <div class="advantages__item advantages__item_6">
      <h3 class="advantages__item-title">Опытные профессионалы</h3>
      <p class="advantages__item-p">
        Результативность, действенность, эффективность Словарь русских
        синонимов. оперативность см. эффективность.
      </p>
    </div>
  </div>
</section>
