<section class="application">
  <div class="container application__container">
    <h2 class="section-title application__section-title">
      Пригласите эксперта на обсуждение ваших задач
    </h2>
    <div class="application__desc">
      <p class="application__p">
        Поможем оперативно рассчитать расходы по вашим задачам
      </p>
      <p class="application__p application__p_yellow">Что вы получите?</p>
      <ul class="list-reset application__list">
        <li class="application__item application__item_1">
          Звонок от эксперта в любое удобное время
        </li>
        <li class="application__item application__item_2">
          Предварительная оценка вашего проекта. Выезд при необходимости
        </li>
        <li class="application__item application__item_3">
          Подробная консультация по проектированию системы газоснабжения
        </li>
        <li class="application__item application__item_4">
          Дополнительные предложения, исходя из вашего объекта
        </li>
        <li class="application__item application__item_5">
          Полная смета понимание всех мельчайших нюансов
        </li>
      </ul>
    </div>
    <form action="#" class="form application__form">
      <h3 class="form__title">Оставьте заявку</h3>
      <div class="form__input-wrap">
        <label class="form__label visually-hidden" for="name">Имя</label>
        <input
          type="text"
          id="name"
          name="Имя"
          class="input-reset form__input"
        />
        <fieldset class="form__fieldset">
          <legend class="form__legend">Имя</legend>
        </fieldset>
      </div>
      <div class="form__input-wrap">
        <label class="form__label visually-hidden" for="tel">Телефон</label>
        <input
          type="tel"
          id="tel"
          name="Телефон"
          class="input-reset form__input"
        />
        <fieldset class="form__fieldset">
          <legend class="form__legend">Телефон</legend>
        </fieldset>
      </div>
      <div class="form__input-wrap">
        <label class="form__label visually-hidden" for="email">e-mail</label>
        <input
          type="email"
          id="email"
          name="e-mail"
          class="input-reset form__input"
        />
        <fieldset class="form__fieldset">
          <legend class="form__legend">e-mail</legend>
        </fieldset>
      </div>
      <div class="form__input-wrap">
        <label class="form__label visually-hidden" for="city">Город</label>
        <input
          type="text"
          id="city"
          name="Город"
          class="input-reset form__input"
        />
        <fieldset class="form__fieldset">
          <legend class="form__legend">Город</legend>
        </fieldset>
      </div>
      <button class="btn-reset btn form__btn" aria-label="Отправить">
        Отправить
      </button>
    </form>
  </div>
</section>
