<section class="contact">
  <div class="container contact__container">
    <h2 class="section-title contact__section-title">Остались вопросы?</h2>
    <div class="contact__wrap">
      <picture class="contact__picture">
        <source
          class="contact__src"
          srcset="./img/contact__img.webp"
          type="image/webp"
        />
        <img
          class="contact__img"
          loading="lazy"
          src="./img/contact.png"
          class="image"
          width="380"
          height="480"
          alt="Фото сотрудника"
        />
      </picture>
      <div class="contact__info">
        <h3 class="contact__title">
          Позвоните по номеру<br />
          +7 771 888 21 03
        </h3>
        <p class="contact__p">
          Или оставьте заявку на консультацию,и наш менеджер перезвонит вам в
          течение 10 минут
        </p>
        <button
          class="btn-reset btn btn_white contact__btn"
          aria-label="Оставить заявку"
        >
          Оставить заявку
        </button>
      </div>
    </div>
  </div>
</section>
