<section class="directions">
  <div class="container directions__container">
    <h2 class="section-title directions__section-title">Наши направления</h2>
    <div class="directions__items">
      <div class="directions__item">
        <div class="directions__item-bg directions__item-bg_1"></div>
        <h3 class="directions__item-title">
          Газоснабжение поселков и многоквартирых домов
        </h3>
      </div>
      <div class="directions__item">
        <div class="directions__item-bg directions__item-bg_2"></div>
        <h3 class="directions__item-title">
          Газоснабжение<br />
          частного дома
        </h3>
      </div>
      <div class="directions__item">
        <div class="directions__item-bg directions__item-bg_3"></div>
        <h3 class="directions__item-title">
          Газоснабжение<br />
          промышленных зданний
        </h3>
      </div>
    </div>
  </div>
</section>
