<section class="gazgolders">
  <div class="container gazgolders__container">
    <h2 class="section-title gazgolders__section-title">
      Мы предлагаем Газгольдеры собственного производства с гарантией 30 лет!
    </h2>
    <picture class="gazgolders__picture">
      <source
        class="gazgolders__src"
        srcset="./img/gazgolders__img.webp"
        type="image/webp"
      />
      <img
        class=""
        loading="lazy"
        src="./img/gazgolders__img.png"
        class="image"
        width="444"
        height="444"
        alt="Фото газголдера"
      />
    </picture>
    <div class="gazgolders__line"></div>
    <ul class="list-reset gazgolders__list">
      <li class="gazgolders__item">
        <h3 class="gazgolders__item-title">Грунтовые воды не страшны</h3>
        <p class="gazgolders__item-p">
          Для сохранения редуктора и других приборов от грунтовых вод делаем
          высокую трубу
        </p>
      </li>
      <li class="gazgolders__item">
        <h3 class="gazgolders__item-title">Не проржавеет</h3>
        <p class="gazgolders__item-p">
          Используем честные 6 мм толщины стали марки 09Г2С
        </p>
        <li class="gazgolders__item">
          <h3 class="gazgolders__item-title">Не растрескивается</h3>
          <p class="gazgolders__item-p">
            Используем антикоррозийный двухкомпонентный материал и эпоксидные
            смолы для создания пластичности покрытия резервуара
          </p>
        </li>
      </li>
      <li class="gazgolders__item">
        <h3 class="gazgolders__item-title">Не даст течь</h3>
        <p class="gazgolders__item-p">
          Используем автоматическую сварку под флюсом швы выполнены ГОСТ 8173-79
        </p>
      </li>
    </ul>
  </div>
</section>
