<header class="header">
  <div class="container header__container">
    <button
      class="btn-reset burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
    <div class="mobile-menu" data-menu>
      <nav class="list-reset mobile-nav">
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Газ</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Автономное газоснабсжение</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Газовое оборудование</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Талоны</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Карта АГЗС</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Компания</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Полезно знать</a>
        </li>
        <li class="mobile-nav__item" data-menu-item>
          <a href="#" class="mobile-nav__link">Контакты</a>
        </li>
      </nav>
      <div class="mobile-menu__item">
        <p class="mobile-menu__item-title">Вам перезвонить?</p>
        <p class="mobile-menu__item-p">+7 (7172) 97 83 83</p>
      </div>
      <div class="mobile-menu__item">
        <p class="mobile-menu__item-title">Режим работы</p>
        <p class="mobile-menu__item-p">Пн-Пт 09:00-18:00</p>
      </div>
    </div>
    <div class="header-item">
      <p class="header-item__title">Вам перезвонить?</p>
      <p class="header-item__p">+7 (7172) 97 83 83</p>
    </div>
    <picture class="logo header__logo">
      <source class="logo__src" srcset="./img/logo.webp" type="image/webp" />
      <img
        class="logo__img"
        loading="lazy"
        src="./img/logo.png"
        class="image"
        width="86"
        height="60"
        alt="Лого"
      />
    </picture>
    <div class="header-item header-item_right">
      <p class="header-item__title">Режим работы</p>
      <p class="header-item__p">Пн-Пт 09:00-18:00</p>
    </div>
    <nav class="list-reset nav header__nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Газ</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Автономное газоснабсжение</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Газовое оборудование</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Талоны</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Карта АГЗС</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Компания</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Полезно знать</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>
    </nav>
  </div>
</header>
