<section class="hero">
  <div class="container hero__container">
    <div class="hero__info">
      <h1 class="hero__title">
        Автономная газификация в Нур-Султане под ключ, с гарантией 3 года!
      </h1>
      <p class="hero__p">
        Пройди тест и получите расчет реальной стоимости подключения вашего
        объекта!
      </p>
      <buttton class="btn-reset btn hero__btn" aria-label="Получить расчёт"
        >Получить расчёт</buttton
      >
    </div>
    <picture class="hero__picture">
      <source
        class="hero__picture-src"
        srcset="./img/hero__img.webp"
        type="image/webp"
      />
      <img
        class="hero__picture-img"
        loading="lazy"
        src="./img/hero__img.jpg"
        class="image"
        width="405"
        height="505"
        alt="Фото рабочих"
      />
    </picture>
  </div>
</section>
