<section class="licenses">
  <div class="container licenses__container">
    <h2 class="section-title section-title_white licenses__section-title">
      Лицензии и сертификаты
    </h2>
    <h2 class="section-title section-title_white licenses__section-title">
      Грамоты и благодарности
    </h2>
    <div class="licenses__swiper_wrap">
      <div class="swiper licenses__swiper">
        <div class="swiper-wrapper licenses__swiper-wrapper">
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_1.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_1.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_2.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_2.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_3.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_3.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_1.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_1.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_2.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_2.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
          <div class="swiper-slide licenses__swiper-slide">
            <picture class="licenses__picture">
              <source
                class="licenses__src"
                srcset="./img/licenses__img_3.webp"
                type="image/webp"
              />
              <img
                class="licenses__img"
                loading="lazy"
                src="./img/licenses__img_3.png"
                class="image"
                width="350"
                height="500"
                alt="Фото лицензии"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-arrows">
      <button
        class="btn-reset swiper-arrows__button swiper-arrows__button_next"
        aria-label="Следующий слайд"
      >
        <svg class="swiper-arrows__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button
        class="btn-reset swiper-arrows__button swiper-arrows__button_prev"
        aria-label="Предыдущий слайд"
      >
        <svg class="swiper-arrows__svg">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
    <button
      class="btn-reset btn btn_trans licenses__btn"
      aria-label="Посмотреть еще"
    >
      Посмотреть еще
    </button>
  </div>
</section>
