<section class="portfolio">
  <div class="container portfolio__container">
    <h2 class="section-title portfolio__section-title">Реализованные задачи</h2>
    <div class="swiper portfolio__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="task-slide">
            <div class="task-slide__photo">
              <p class="task-slide__num">1</p>
              <p class="task-slide__name">
                <strong class="task-slide__name_strong">ЖК “Арнау”</strong
                ><br />
                г.Алматы
              </p>
            </div>
            <ul class="list-reset task-slide__list">
              <li class="task-slide__item">
                <strong class="task-slide__strong">Задача:</strong> Подключение
                Жилого комплекса к автономному газоснабжению
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Объект:</strong> Жилой
                комплекс “Арнау”
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Тип объекта:</strong>
                Многоквартирный дом
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Срок:</strong> 4,5 месяцев
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Результат:</strong
                ><br /><br />За счет оптимизации стоимости оборудования,
                сократили затраты на 1 300 000 〒<br /><br />
                Наши менеджеры с радостью ответят на ваши вопросы, произведут
                расчет стоимости услуг и подготовят коммерческое предложение.
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="task-slide">
            <div class="task-slide__photo">
              <p class="task-slide__num">1</p>
              <p class="task-slide__name">
                <strong class="task-slide__name_strong">ЖК “Арнау”</strong
                ><br />
                г.Алматы
              </p>
            </div>
            <ul class="list-reset task-slide__list">
              <li class="task-slide__item">
                <strong class="task-slide__strong">Задача:</strong> Подключение
                Жилого комплекса к автономному газоснабжению
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Объект:</strong> Жилой
                комплекс “Арнау”
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Тип объекта:</strong>
                Многоквартирный дом
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Срок:</strong> 4,5 месяцев
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Результат:</strong
                ><br /><br />За счет оптимизации стоимости оборудования,
                сократили затраты на 1 300 000 〒<br /><br />
                Наши менеджеры с радостью ответят на ваши вопросы, произведут
                расчет стоимости услуг и подготовят коммерческое предложение.
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="task-slide">
            <div class="task-slide__photo">
              <p class="task-slide__num">1</p>
              <p class="task-slide__name">
                <strong class="task-slide__name_strong">ЖК “Арнау”</strong
                ><br />
                г.Алматы
              </p>
            </div>
            <ul class="list-reset task-slide__list">
              <li class="task-slide__item">
                <strong class="task-slide__strong">Задача:</strong> Подключение
                Жилого комплекса к автономному газоснабжению
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Объект:</strong> Жилой
                комплекс “Арнау”
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Тип объекта:</strong>
                Многоквартирный дом
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Срок:</strong> 4,5 месяцев
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Результат:</strong
                ><br /><br />За счет оптимизации стоимости оборудования,
                сократили затраты на 1 300 000 〒<br /><br />
                Наши менеджеры с радостью ответят на ваши вопросы, произведут
                расчет стоимости услуг и подготовят коммерческое предложение.
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="task-slide">
            <div class="task-slide__photo">
              <p class="task-slide__num">1</p>
              <p class="task-slide__name">
                <strong class="task-slide__name_strong">ЖК “Арнау”</strong
                ><br />
                г.Алматы
              </p>
            </div>
            <ul class="list-reset task-slide__list">
              <li class="task-slide__item">
                <strong class="task-slide__strong">Задача:</strong> Подключение
                Жилого комплекса к автономному газоснабжению
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Объект:</strong> Жилой
                комплекс “Арнау”
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Тип объекта:</strong>
                Многоквартирный дом
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Срок:</strong> 4,5 месяцев
              </li>
              <li class="task-slide__item">
                <strong class="task-slide__strong">Результат:</strong
                ><br /><br />За счет оптимизации стоимости оборудования,
                сократили затраты на 1 300 000 〒<br /><br />
                Наши менеджеры с радостью ответят на ваши вопросы, произведут
                расчет стоимости услуг и подготовят коммерческое предложение.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-wrap">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
