<section class="prices">
  <div class="container prices__container">
    <h2 class="section-title prices__section-title">Ценовые предложения</h2>
    <div class="service">
      <h3 class="service__title">Автономное газоснабжение частного дома</h3>
      <p class="service__price">
        от <strong class="service__price-strong">1187 000 〒</strong>
      </p>
      <picture class="service__picture">
        <source
          class="service__pictire-src"
          srcset="./img/service__img_1.webp"
          type="image/webp"
        />
        <img
          class="service__picture-img"
          loading="lazy"
          src="./img/service__img_1.png"
          class="image"
          width="220"
          height="220"
          alt="Фото газоснабжения"
        />
      </picture>
      <ul class="list-reset service__list">
        <li class="service__item">Газгольдер</li>
        <li class="service__item">Доставка</li>
        <li class="service__item">Монтаж и пуск</li>
      </ul>
      <button
        class="btn-reset btn btn_trans service__btn"
        aria-label="Заказать услугу"
      >
        Заказать услугу
      </button>
    </div>
    <div class="service">
      <h3 class="service__title">Автономное газоснабжение частного дома</h3>
      <p class="service__price">
        от <strong class="service__price-strong">1187 000 〒</strong>
      </p>
      <picture class="service__picture">
        <source
          class="service__pictire-src"
          srcset="./img/service__img_2.webp"
          type="image/webp"
        />
        <img
          class="service__picture-img"
          loading="lazy"
          src="./img/service__img_2.png"
          class="image"
          width="220"
          height="220"
          alt="Фото газоснабжения"
        />
      </picture>
      <ul class="list-reset service__list">
        <li class="service__item">Газгольдер</li>
        <li class="service__item">Доставка</li>
        <li class="service__item">Монтаж и пуск</li>
      </ul>
      <button
        class="btn-reset btn btn_trans service__btn"
        aria-label="Заказать услугу"
      >
        Заказать услугу
      </button>
    </div>
    <div class="service">
      <h3 class="service__title">Автономное газоснабжение частного дома</h3>
      <p class="service__price">
        от <strong class="service__price-strong">1187 000 〒</strong>
      </p>
      <picture class="service__picture">
        <source
          class="service__pictire-src"
          srcset="./img/service__img_3.webp"
          type="image/webp"
        />
        <img
          class="service__picture-img"
          loading="lazy"
          src="./img/service__img_3.png"
          class="image"
          width="220"
          height="220"
          alt="Фото газоснабжения"
        />
      </picture>
      <ul class="list-reset service__list">
        <li class="service__item">Газгольдер</li>
        <li class="service__item">Доставка</li>
        <li class="service__item">Монтаж и пуск</li>
      </ul>
      <button
        class="btn-reset btn btn_trans service__btn"
        aria-label="Заказать услугу"
      >
        Заказать услугу
      </button>
    </div>
  </div>
</section>
