<section class="questions">
  <div class="container questions__container">
    <h2 class="section-title questions__section-title">
      Ответы на часто-задаваемые вопросы
    </h2>
    <ul class="list-reset questions__list">
      <li class="questions__item">
        <h3 class="questions__title">Как правильно выбрать автокран?</h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
      <li class="questions__item">
        <h3 class="questions__title">
          Есть ли какие-то требования, регулирующие монтирования системы А?
        </h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
      <li class="questions__item">
        <h3 class="questions__title">
          С какой частотой осуществляется заправка емкости?
        </h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
      <li class="questions__item">
        <h3 class="questions__title">
          Как происходит доставка газа и заправка газгольдера?
        </h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
      <li class="questions__item">
        <h3 class="questions__title">Как осуществлять заказ частным лицам?</h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
      <li class="questions__item">
        <h3 class="questions__title">
          Как осуществлять заказ юридическим лицам?
        </h3>
        <p class="questions__p">
          Система АГ предусматривает установку подземной емкости, в которой
          хранит СУГ, с горловиной удлиненной формы, двух редукторов, защитной
          анодно- катодной системы, двух редуторов, а также специальной формы
          железобетонной конструкции, нержавеющего стального троса, газопровода
          из прочного пластика. Также проделывается цокольный ввод.
        </p>
      </li>
    </ul>
  </div>
</section>
