$fontFamily: "Gilroy", sans-serif;
$contentWidth: 1138px;
$containerOffset: 15px;
$containerWidth: calc($contentWidth + $containerOffset * 2);
$mainColor: #0297f1;
$secondColor: #ef8711;
$fontColor: #13284f;
